# Only track bsc-vcm; ignore this nested folder
Fourth Stage - Redemption/

# Web app
backend/models/*.joblib
frontend/node_modules
.env
.env.local
.env.production
frontend/.env.production
__pycache__/
*.pyc
